<div class="container">
  <h1 class="text-center mb-5 mt-10">Stupid Coaching</h1>
  <p class="text-center mb-5">Ask your coach anything:</p>

  <form action="/answer" data-turbo="false">
    <div class= "text-center mb-5">
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
